Image {
    height: 75;
    width: 20%;
}

ListView {
    margin: 10rem;
}

ListView {
    height: 90%;
}

GridLayout {
    display: block;
    padding: 5rem;
}

GridLayout Label {
    color: black;
}