GridLayout {
    margin: 75, 0, 0, 0;
}

button {
    border-width: 1;
    border-color: #032443;
    padding: 5;
    border-radius: 10;
    color: #032443;
}

.logo {
    margin: -125, 0, 0, 0;
    font-family: GoodJacket-Regular;
    font-size: 36;
}