button {
    border-width: 1;
    border-color: #032443;
    padding: 5;
    border-radius: 10;
    margin: 15, 0, 0, 0;
}
.bigStack {
    padding: 5rem;
    color: #000000;
}
.smallImage {
    vertical-align: top;
}
.traits {
    background-color: white;
}
.match {
    color: green;
    font-weight: bold;
}

.nomatch {
    color: #000000;
}
.rowMatch {
    color: #067000;
}
.noRowMatch {
    background-color: #FFFFFF;
    color: #000000;
}
.rowFill {
    background-color: #067000;
}
.description {
    font-size: 18;
}
.state {
    font-size: 18;
}
.matchPercent {
    font-size: 24;
    font-weight: bold;
}
.headerText {
    font-weight: bold;
    font-size: 20;
    width: 100%;
}
.emphasis {
    font-size: 18;
    font-weight: bold; 
}

.param {
    font-size: 12;
}
.full {
    width: 100%;
    height: 100%;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.hr {
    height: 2;
    width: 100%;
    background-color: #d9d9d9;
}
