<StackLayout #container>
    <Label text="View Profile"></Label>
    <ScrollView>
        <StackLayout>
            <Image src="{{theirProfile.image || 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=500&h=500'}}"></Image>
            <Label textWrap="true" class="description" [text]="theirProfile.description"></Label>
            <Label class="emphasis full left" visibility="{{theirProfile.state ? 'visible' : 'collapsed'}}" [text]="'State: ' + theirProfile.state"></Label>
            <Label class="matchPercent full center" [text]="'Match Percent: ' + theirProfile.matchPercent * 100 + '%'"></Label>
            <Label class="emphasis full center" text="Based on the following"></Label>
            <StackLayout>
                <GridLayout class="headerGrid" columns="120, *, *" rows="auto" class="header">
                    <Label class="headerText center" col="0" text="Trait"></Label>
                    <Label class="headerText center" col="1" text="Yours"></Label>
                    <Label class="headerText center" col="2" text="Theirs"></Label>
                </GridLayout>
                <StackLayout colSpan="3" row="1" class="hr">
                </StackLayout>
                <GridLayout *ngFor="let key of paramMapKeys" columns="120, *, *" rows="auto, auto">
                    <StackLayout class="full" [class.rowMatch]="paramMap[key].rowMatch" [class.noRowMatch]="!paramMap[key].rowMatch">
                        <Label class="emphasis full center " col="0" [text]="key"></Label>
                        <Label class="emphasis full center emphasis" [text]="paramMap[key].percent + '%'"></Label>
                    </StackLayout>
                    <StackLayout col="1" class="paramValue">
                        <Label class="param full center" *ngFor="let param of paramMap[key].mine" [text]="param.name" [ngClass]="param.match"></Label>
                    </StackLayout>
                    <StackLayout col="2" class="paramValue">
                        <Label class="param full center" *ngFor="let param of paramMap[key].theirs" [text]="param.name" [ngClass]="param.match"></Label>
                    </StackLayout>
                    <StackLayout colSpan="3" row="1" class="hr">
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>